

        <div class="register-box">
            <h1>{{title}}</h1>
            <form action="#" method="">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username..">
                <label>Email</label>
                <input type="text" name="email" placeholder="Email..">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password..">
                <label>Confirm Password</label>
                <input type="password" name="confirmPassword" placeholder="Confirm Password..">
                <input type="submit" value="Submit">
            </form>
            <p>Already have an account? <a href="/auth/login">Login here</a></p>
        </div>
 